---
const { remaining } = Astro.props;
const plural = remaining !== 1 ? 's' : '';
const tense = remaining !== 1 ? '' : 's';
---
{remaining > 0
    ? <div class="pill"><strong>{remaining}</strong> spot{plural} remain{tense}</div>
    : (remaining === 0
        ? <div class="pill"><strong>Game is full!</strong></div>
        : <div class="pill"><strong>Game cancelled :(</strong></div>)
}
<style>
    .pill {
        padding: 0.25rem 1rem;
        border-top-right-radius: 0.5rem;
        background-color: #0c4a6e;
        display: inline-block;
    }

    @media (min-width: 640px) {
        .pill {
            border-bottom-left-radius: 0.5rem;
        }
    }
</style>