---

---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.bunny.net">
		<link href="https://fonts.bunny.net/css?family=recursive:400,700" rel="stylesheet">
		<title>Colin's Movember One-Shots</title>
		<style>
			body {
				padding: 0;
				margin: 0;
				color: #eee;
				font-family: Recursive, sans-serif;
				min-height: 100svh;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			body {
				/* background by SVGBackgrounds.com */
				background-color: #111111;
				/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");*/
				background-image: url(/img/mov-bg.png);
				background-position: -30px -60px;
			}
			
		.container {
			margin: 0 auto;
			background-color: #000;
			box-shadow: 0px 0px 2rem -3px rgba(255,255,255,0.3);
		}
		img {
			max-width: 100%;
		}
		main {
			padding: 1rem 2rem;
			max-width: 65ch;
			font-size: 1rem;
			line-height: 1.75;
			margin: 0 auto 0;
		}

		.logo {
			text-align: center;
			position: relative;
			top: 1rem;
			height: 2rem;
		}

		.logo svg {
			height: 2rem;
			width: 2rem;
		}

		:global(strong) {
			color: #fef9c3;
		}
		
		:global(a) {
		  color: #ff3e00;
		}

		:global(hr) {
			margin: 3rem auto;
			width: 45%;
			border: 0;
			height: 2px;
			background: rgb(254,249,195);
			background: linear-gradient(90deg, rgba(254,249,195,0) 0%, rgba(254,249,195,1) 30%, rgba(254,249,195,1) 70%, rgba(254,249,195,0) 100%); 
		}

		:global(time) {
			display: block;
			color: #7dd3fc;
		}
		
		@media (min-width: 640px) {
		  main {
		    padding: 1rem 3rem;
		  }
		}

		@media (min-width: 768px) {
			main {
				font-size: 1.25rem;
				line-height: 1.8;
			}
		}
	</style>
	</head>
	<body>
	<div class="container">
		<main>
			<div class="logo"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"><path d="M240 502.9l16 9.1 16-9.1L480 384V368s0 0 0 0V147.7 128l-15.3-8.7L269.8 7.9 256 0 242.2 7.9 47.3 119.3 32 128v19.7V368s0 0 0 0v16L240 502.9zM104.1 388.4L240 398.8V466L104.1 388.4zM272 398.8l135.9-10.5L272 466V398.8zm176-88.6l-58.7-97.8L448 170.5V310.2zM373 184.8L302 63.2l134 76.6-63.1 45zM210 63.2L139 184.8 76 139.7 210 63.2zM122.7 212.4L64 310.2V170.5l58.7 41.9zM75 354l69.4-115.6 80.9 127.2L75 354zm98.1-130H338.9L256 354.2 173.1 224zm194.5 14.4L437 354 286.7 365.6l80.9-127.2zM171.9 192L256 47.8 340.1 192H171.9z"/></svg></div>
		<slot></slot>
		</main>
	</div>
	</body>
</html>

